/*@font-face {*/
/*  font-family: 'Barbieri';*/
/*  src: local('Barbieri Regular'), local('barbiri-regular'),*/
/*  url('/fonts/barbieri-regular.woff2') format('woff2'),*/
/*  url('/fonts/barbieri-regular.woff') format('woff');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/